
//@at-root
$primary:#00cf68;
$secondary:#2525ff;
$alert:#ff2c2c;
$warning:#ffc420;

$colors:$alert $primary $secondary $warning;
$cls: alert primary secondary warning;

//------------classe usuelles-----------
@mixin center-column($al:stretch) {
    display: flex;
    justify-content: center;
    align-items: $al;
    flex-direction: column;

    *{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}

@mixin underlined($c:$secondary) {
    position: relative;
    cursor: pointer;
    transition: .2s;
    &::after{
        transition: .2s;
        transform: scaleX(0);
        position: absolute;
        width: 100%;
        height: 3px;
        border-radius: 2px;
        background-color: $c;
        content: " ";
        bottom: 2px;
    }

    &:hover,&:focus{
        color: $c;
        &::after{
            transform: scaleX(1);
        }
    }
    
    &:active{
        &::after{
            transform: scaleX(0);
        }
        color: rgba($primary, 0.2);
    }
}

@mixin themed($class: background) {
    @for $i from 1 through length($colors) {
        $c:nth($list: $cls, $n: $i);
        $color:nth($list: $colors, $n: $i);
        &.#{$c}{
            #{$class} : $color;
            padding: 10px 5px;
        }
    }
}

@mixin animated($class,$color){
    .animated-#{$class}{
        position: relative;
        cursor:copy;
    
        &:hover{
            transition: .3s;
            color: rgba($color, 1);
            &::after{
                position: absolute;
                content: '';
                box-sizing: border-box;
                height: 3px;
                width: 100%;
                bottom: 0;
                border-radius: 3px;
                background: rgba($color, 1);
                animation: border 1s linear forwards;
            }
        }
    }
}
//--------------------------------------