@use "transition.scss";
@import "_vars.scss";

@font-face {
    font-family: 'Marvel';
    src: url(./Marvel-Bold.ttf);
}

*{
    font-family: "Marvel";
    transform: .3s;
    scroll-behavior: smooth;
}

//-------------used---------------

button,input[type=submit],input[type=reset],input[type=button]{
    $spaces:5px;

    @include underlined();
    font-size: 1.1rem;
    margin: $spaces;
    padding: $spaces;
    background-color: rgba($primary, 0);
    border-radius: $spaces;
    outline: none;
    border: none;

    // classes
    $cls: primary alert warning;
    $colors: $primary $alert $warning;

    @for $i from 1 through length($cls) {
        &.#{nth($cls,$i)}{
            @include underlined(nth($colors,$i));
        }
    }
}

input[type=text],input[type=number],input[type=password],
input[type=date],input[type=datetime],input[type=email],textarea,
input[type=tel],input[type=search],input[type=file],input[type=week]{
    $spaces:5px;
    font-size: 1.1rem;
    margin: $spaces;
    padding: $spaces;
    border: none;
    outline: none;
    min-width: 50%;
    
    @mixin bg($c:$secondary) {
        border-bottom: solid 1px $c;
        &:focus,&:hover{
            background-color: rgba($c, 0.2);
        }
    }

    @include bg();

    &:focus{
        animation: appear .2s forwards;
    }

    // classes
    $cls: primary alert warning;
    $colors: $primary $alert $warning;

    @for $i from 1 through length($cls) {
        &.#{nth($cls,$i)}{
            @include bg(nth($colors,$i))
        }
    }
}

textarea{
    max-width: 95%;
    max-height: 60vh;
}
//--------------------------------------

body{
    padding: 0;margin: 0;
    font-size: 2rem;
}

.body,.form,.App{
    width: 100vw;
    height: calc(100%);
    @include center-column();
}

.form{
    header{
        width: 100%;
        margin: 0;
        background-color: $primary;
        transition: .2s;
        // color: rgb(1, 112, 66);
        clip-path: polygon(0 0, 100% 0, 100% 10%, 50% 100%, 0 10%);
        h1{
            margin-top: 0;
            margin-bottom: 10px;
        }
        
        &:hover{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 100%, 0 100%);
        }

        // classes
        $cls: primary alert warning;
        $colors: $primary $alert $warning;

        @for $i from 1 through length($cls) {
            &.#{nth($cls,$i)}{
                background-color: nth($list: $colors, $n: $i);
                color: #dbdbdb;
            }
        }
    }
}

form.left{
    @include center-column(flex-start);
}

.box{
    @extend .form;
    width: fit-content;
    min-width: 50%;
    max-width: 90%;
    box-shadow: 0px 1px 4px 1px #3e3e3eb5;
    margin: 10px;
    border-radius: 5px;
}

@for $i from 1 through length($colors) {
    $class:nth($cls, $i );
    $color:nth($colors, $i );
    @include animated($class,$color);
}

@for $i from 1 through length($colors) {
    $color : nth($list: $colors, $n: $i);
    $class : nth($list: $cls, $n: $i);
    .text-#{$class}{
        color: $color;
    }
}

//--------------------------------------
@keyframes appear {
    0%{
        transform: scaleX(1);
    }
    50%{
        transform: scaleX(0);
    }
   100%{
        transform: scaleX(1);
    }
}

@keyframes border {
    $s:10%;
    0%{
        clip-path: polygon(0 0,$s 0, $s 100%, 0 100%);
        opacity: 0;
    }
    20%{
        clip-path: polygon(0 0,$s 0, $s 100%, 0 100%);
        opacity: 1;
    }
    80%{
        opacity: 1;
        clip-path: polygon(calc(100% - $s) 0,
         100% 0,
         100% 100%,
         calc(100% - $s) 100%);
    }
    100%{
        clip-path: polygon(calc(100% - $s) 0,
         100% 0,
         100% 100%,
         calc(100% - $s) 100%);
        opacity: 0;
    }
}